body {
    background-image: url('/img/escenas/inicio.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    /* Usa la fuente 'Roboto Condensed' */
}

.background-full {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 100%;
    z-index: 1;
}



.explore-button {
    margin-top: 30px;
    background: linear-gradient(to bottom, #f34b66, #992431);
    border-color: #f34b66;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

.explore-button:hover {
    background: linear-gradient(to bottom, #992431, #7e1f3d);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    transform: translateY(-2px);
}

.logo {
    margin-bottom: 50px;
    z-index: 2;
}

.background-full::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}