body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.content {
    position: relative;
    z-index: 1;
    /* Asegura que el contenido esté por encima de la capa de opacidad */
}

.background-full {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.5);
    height: 100%;
    z-index: 1;
}

.explore-button {
    margin-top: 30px;
    background: linear-gradient(to bottom, #f34b66, #992431);
    border-color: #f34b66;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

.explore-button:hover {
    background: linear-gradient(to bottom, #992431, #7e1f3d);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    transform: translateY(-2px);
}

/* Logotipo en la esquina superior izquierda */
.logo {
    position: absolute;
    top: 20px;
    /* Ajusta el margen superior según sea necesario */
    left: 20px;
    /* Ajusta el margen izquierdo según sea necesario */
    z-index: 1000;
    /* Asegura que el logotipo esté sobre otros elementos */
}

/* Centrar el contenedor de la imagen en la página */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    /* Ajusta la altura del contenedor al 50% de la altura del viewport */
    width: 50%;
    /* Ajusta la anchura del contenedor al 50% de la anchura del viewport */
    margin: auto;
    /* Centra el contenedor en la página */
    position: absolute;
    top: 0;
    bottom: 0;
    /* Estos estilos junto con left y right centran el div */
    left: 0;
    right: 0;
}

/* Opcional: Estilos para la imagen centralizada */
.centered-image {
    max-width: 100%;
    /* Asegura que la imagen no exceda el contenedor */
    max-height: 100%;
}

.background-full {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    background-size: cover;
    background-position: center;
}

.images-container {
    width: 100%;
    max-width: 1200px;
    /* Ajustado para permitir imágenes más grandes */
    display: flex;
    justify-content: space-between;
    /* Maximiza la separación entre imágenes */
    align-items: center;
    margin-top: 50px;
    /* Controla qué tan abajo aparecen las imágenes */
}

.image-container {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: -45px;
    /* Aumentado para más separación entre imágenes */
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.image-container img {
    width: 330px;
    /* Imágenes más grandes */
    height: auto;
    /* Mantiene la proporción de las imágenes */
}

.overlay-text-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo oscuro con opacidad */
    padding: 20px;
    /* Espacio interior para separar el texto de los bordes */
    border-radius: 10px;
    /* Bordes redondeados para un aspecto más suave */
    width: 80%;
    /* Ajusta el ancho del contenedor de texto según necesites */
    max-width: 700px;
    /* Ancho máximo para grandes pantallas */
    z-index: 2;
}

.highlighted-rectangle {
    display: block;
    border: 2px solid rgba(0, 0, 0, 0);
    /* Amarillo claro con algo de transparencia */
    border-radius: 5px;
    /* Bordes ligeramente redondeados */
    width: 355px;
    /* Ancho inicial, ajustable */
    height: 800px;
    /* Altura inicial, ajustable */
    margin: 50px auto;
    /* Aumenta el margen superior e inferior para bajarlos más y separarlos */
    transition: all 0.3s ease;
    /* Transición suave para cambios de estilo */
    background-color: #ffffff00;
    /* Fondo transparente */
}

.highlighted-rectangle:hover {
    box-shadow: 0 0 150px rgba(255, 235, 145, 0.503);
    /* Efecto de iluminación al pasar el mouse */
}

.image-container {
    display: inline-block;
    /* Ajuste para que los cuadrados estén en línea */
    text-align: center;
    margin: 0 -130px;
    /* Aumenta la separación entre los cuadrados */
}

.images-container {
    padding-top: 250px;
    /* Aumenta el espacio superior para bajar los cuadrados aún más si es necesario */
}


